.course{
    .enroll-btn{
        border-radius: 50px;
        background: #FFF;
        height: 51px;
        font-size: 25px;
        font-weight: 700;
        color: #2D2C2B;
        margin: 20px 0 ;
        cursor: pointer;
        &:hover{
        background: #e7e5e5;
        }
    }
    .card{
        color: #FFF;
        .learn-more-btn{
        border-radius: 50px;
        background: #FFF;
        width: 150px;
        height: 32px;
        font-size: 18px;
        font-weight: 700;
        color: #2D2C2B;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            background: #e7e5e5;
        }
        }
    }
}

@media (max-width:780px) {
    .content{
        padding: 0 !important;
    }
    .course{
        padding: 43px 9px !important;
        .title-course{
            font-size: 37px;
        }
        .description-course{
            font-size: 20px;
            width: auto !important;
        }
        .card{
            .title-card{
                font-size: 28px;
            }
            .learn-more-btn{
                width: 120px !important;
                font-size: 16px;
            }
        }
    }
}
