.section-header{
    background-image: url("/public/images/Ellipse\ 11.png");
    background-position: bottom;
    padding: 50px 0 0;
    .container{
        .text{
        h1{
            font-size: 70px;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 50px;
        }
        p{
            color: #2D2C2B;
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 100px;
            
        }
        button{
            font-size: 24px;
            font-weight: 700;
            border-radius: 50px;
            background: #0061EF;
            color: white;
            width: 255px;
            height: 76px;
            margin-bottom: 100px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
            background: #0049B3;
            transform: scale(1.02);
            }
        }
        }
        .photo{
        animation: photoLogo 5s ease-in-out infinite;
        }
    }
}

@keyframes photoLogo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width:780px) {

    .section-header{
        .photo-mark{
            display: none;
        }
        .container{
            width: 92% !important;
            flex-direction: column-reverse;
            .photo{
                margin-top: 0 !important;
            }
            .text{
                h1{
                font-size: 40px;
                margin-bottom: 22px !important;
                }
                p{
                font-size: 23px;
                margin-bottom: 62px !important;
                }
            }
        }
    }
}