.video-section{
    background-image: url("public/images/Group 38800.png");
    margin-top: -70px;
    background-position: top;
    padding: 120px 0 40px;
}
.btn-subscribe{
    background-color: #0061EF;
    color: white;
    height: 95.281px;
    width: 319.694px;
    border-radius: 62.685px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30.089px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #0955c9;
    }
}


@media (max-width:750px) {
    .title-head{
        h1{
            font-size: 45px;
        }
        p{
            font-size: 22.819px;
        }
        img{
            width: 30px !important;
        }
    }
    .btn-subscribe{
        height: 74.281px;
        width: 240.694px;
    }
    .video-section{
        .video{
            height: 200px !important;
        }
        button{
            span{
                font-size: 17.684px;
            }
            img{
                width: 20px !important;
            }
        }
    }
    .courses-accordion{
        width: 90% !important;
        .content{
            padding: 15px;
            .header{
                .arrow{
                    width: 20px !important;
                }
                img{
                    width: 40px !important;
                }
                .unit{
                    font-size: 15.237px;
                }
                .title{
                    font-size: 18.316px;
                }
            }
        }
        .body{
            .title-body{
                font-size: 15px;
            }
            .radio-mark{
                width: 24px;
                height: 24px;
            }
            .luck{
                width: 40px !important;
                height: 40px !important;
                img{
                    width: 30px;
                }
            }
        }
    }
}